<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <mat-card class="card col-lg-5" style="background-color: #ffffffa5;">
      <form
      novalidate
      (ngSubmit)="onSubmit()"
      [formGroup]="resolvePassword"
      #myform="ngForm"
      autocomplete="off"
     >

      <div class="text-center mt-4">
        <img src="./assets/images/fsfb.png" alt="Logo fundación" class="logo" />
      </div>
      <div class="container">
        <div class="container mt-5">
          <h2 style="color: rgba(26,62,156,1); font-weight: bold;">Restablezca su contraseña</h2>
        </div>
      </div>

      <div class="container">
        <div class="container mt-5">
          <mat-form-field class="w-100">
            <input matInput placeholder="Contraseña"  type="text" [type]="hide ? 'password' : 'text'" formControlName="userPassword"/>
            <mat-icon matSuffix class="formContrasenia" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="resolvePassword.get('userPassword').hasError('required')">
              Este campo es obligatorio.
            </mat-error>
            <mat-error *ngIf="resolvePassword.get('userPassword').hasError('pattern')">
              El nombre no puede llevar números.
            </mat-error>
            <mat-error *ngIf="resolvePassword.get('userPassword').hasError('minlength')">
              La longitud del texto excede el mínimo permitido.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="container">
        <div class="container mt-3">
          <mat-form-field class="w-100">
            <input matInput placeholder="Confirme su contraseña"  type="text" [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"/>
            <mat-icon matSuffix class="formContrasenia" (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="resolvePassword.get('confirmPassword').hasError('required')">
              Este campo es obligatorio.
            </mat-error>
            <mat-error *ngIf="resolvePassword.get('confirmPassword').hasError('pattern')">
              El nombre no puede llevar números.
            </mat-error>
            <mat-error *ngIf="resolvePassword.get('confirmPassword').hasError('minlength')">
              La longitud del texto excede el mínimo permitido.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
      </div>
      <div class="container">
      </div>
      <div class="container text-right mt-5">
        <br>
       <button mat-raised-button class="buttonCA-second mat-raised-button" type="button" (click)="close()">CANCELAR</button>
       <button mat-raised-button class="buttonCA primary" type="submit" [disabled]="resolvePassword.invalid">GUARDAR</button>
      </div>
      <br> <br> <br>
     </form>
    </mat-card>
  </div>
</div>
<br> <br> <br>
